@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>地址：成都市武侯区晋吉南路146号交大庭院13-1-3A</address>
<address><strong>业务咨询：</strong><a href="mailto:hello@weizhi12.com">hello@weizhi12.com</a></address>