@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>Teldrassil</h1>
    <p class="lead">微知一二的主站版本《Teldrassil》正式发布，取名魔兽世界新手村·泰达希尔，寓意我们的创业之路正式启程，未来充满了惊喜、期待和令人向往！</p>
    <p><a href="" class="btn btn-primary btn-lg">By Druid</a></p>
</div>
<div class="container index-middle">
    <h2 class="index-h2"><strong>我们专注互联网技术在传统企业的推广与应用</strong></h2>
    <p class="index-h2-p">多年来，我们和多个不同行业的客户建立了合作关系。</p>
</div>
<div class="row text-center">
    <div class="col-md-3">
        <h4>网站设计</h4>
        <p>
            企业品牌网站开发 / 基于B/S业务系统开发 / 网站服务器托管运维 / 各大搜索引擎营销推广
        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h4>软件开发</h4>
        <p>Windows桌面应用系统 / iOS、Android手机APP / 各种C/S管理系统 / 内部系统集成</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h4>微信公众号</h4>
        <p>公众号管理平台 / 投票分享活动 / 微信支付 / CRM管理及营销平台 / 企业号开发</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h4>数据仓库</h4>
        <p>数据仓库架构设计 / 企业主数据管理 / ETL / 商业智能报表分析 / 多终端报表无障碍展示</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
</div>